@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Oswald:wght@200&family=Qwitcher+Grypen&family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@1,200&family=Oswald:wght@200&family=Qwitcher+Grypen&display=swap');

.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: flex;
		flex-direction: row-reverse;
		list-style: none;
		margin: 0;
		padding-left: 0;

		@media screen and (max-width: 500px) {
			display: none;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover>ul,
				&.focus>ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover>a,
			.focus>a {}

			a:hover,
			a.focus {}
		}

		li:hover>ul,
		li.focus>ul {
			left: auto;
		}
	}

	li {
		position: relative;
		margin: 2em;

		&:hover>a,
		&.focus>a {}
	}

	a {
		display: block;
		text-decoration: none;
		color: black;
		font-size: 22px;
		font-family: 'Montserrat-thin';
		letter-spacing: 0.3rem;
	}

	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a,
	.current-menu-ancestor>a {}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}